/* Style for body and text */
body {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  h1 {
    font-size: 20px;
    text-align: center;
  }
  
  /* Style for buttons with a specific class (extension-only buttons) */
  .extension-button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #ffffff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Hover effect for extension-only buttons */
  .extension-button:hover {
    background-color: #fbfbfb;
  }
